<%- include('partial/header') %>
<!--Main-->
<main class="home">
  <section class="hero container flex justify-between align-center">
    <div class="flex-48">
      <p class="icon"><span>B</span>logs</p>
    </div>
    <div class="flex-48">
      <a href="/users/register"
        ><button class="btn btn-primary">Register</button></a
      >
    </div>
  </section>
</main>
