<%- include('partial/header') %>
<!--Main-->
<main class="login" style="text-align: center">
  <h2>LogIn</h2>
  <p style="color: red"><%= error %></p>
  <p></p>
  <form action="/users/login" method="POST">
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="P@s$w0rd" />
    <input type="submit" value="Login" />
  </form>
</main>
